@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap");

body {
  font-family: "Barlow", sans-serif;
}

#testimonials {
  background-color: rgba(0, 0, 0, 0.1);
}

.section__title {
  font-size: 60px;
  font-weight: 700;
}

.slick-slider {
  width: 100%;
}

.slick-arrow {
  z-index: 1000;
}

.slick-arrow:before {
  color: #212529 !important;
}

.slick-prev {
  left: 20px !important;
}

.slick-next {
  right: 20px !important;
}
